body{
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.body{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.panel{
    flex: 1;
    height: 100vh;
    font-size: xxx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    transition: flex 0.4s ease;
}

.panel > *{
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: transform 0.4s ease;
}

.panel1{
    background-image: url("https://plus.unsplash.com/premium_photo-1667734613410-aebe970c3f60?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.panel2{background-image: url("https://images.unsplash.com/photo-1530236668220-b9c6c098c9aa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHZlcnRpY2FsfGVufDB8fDB8fHww");}
.panel3{background-image: url("https://images.unsplash.com/photo-1579099816874-e02eaf257e2a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHZlcnRpY2FsfGVufDB8fDB8fHww");}
.panel4{background-image: url("https://images.unsplash.com/photo-1564754943164-e83c08469116?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8dmVydGljYWx8ZW58MHx8MHx8fDA%3D");}
.panel5{background-image: url("https://plus.unsplash.com/premium_photo-1675721844807-a3760e14353b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dmVydGljYWx8ZW58MHx8MHx8fDA%3D");}

.panel > *:first-child{
    transform: translateY(-108%); 
}
.panel > *:last-child{
    transform: translateY(108%); 
}

.panel.open-active > *:first-child{
    transform: translateY(0); 
}
.panel.open-active > *:last-child{
    transform: translateY(0); 
}

.open-active{
    flex: 2
}